*{
    margin: 0;
    padding: 0;
    font-family: Charcoal, sans-serif;
}

body{
    background-image: url("images/wallpaper.jpg");
    background-size: cover;
    background-position: center 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    padding: 50px;
}

.items{
    display: flex;
    margin-top: 20px;
}

.item {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.item img{
    width: 50px;
    height: 50px;
}

.item p{
    background-color: rgb(46, 45, 45);
    color: white;
    padding: 3px;
    font-size: 12px;
}

.item:hover{
    background-color: #CCCCFF;
}

.overlay{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 9;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
  
}



/* //////////// about */


.header{
    display: flex;
    justify-content: space-between;
    background-color: #DDDDDD;
    padding: 5px;
}
.header p{
    font-weight: bold;
    font-size: 15px;
}

.about-main{
    text-align: center;
    padding: 10px;
}

.about-main img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.about-main h1{
    font-size: 30px;
    margin-top: 5px;
}

.about-main p{
    margin-top: 10px;
}

.close{
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
    font-weight: bold;
}

/* //////////// contact */

.contact-main, .skill-main {
    padding: 10px;
}

.contact-main .social{
    display: flex;
    justify-content: space-around;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.social img{
    width: 40px;
    height: 40px;
}

.form-control{
    padding: 30px;
    text-align: center;
}


.form-control .email{
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
 
}

.send{
    padding: 5px 7px 5px 7px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 10px;
}

.send:hover{
    box-shadow: 2px 2px black;  
    background-color: #DDDDDD;
 
}

textarea{
    padding: 5px;
 
}

/* /////////////////// */

.skill-main{
    padding-top: 40px;
}

.tech {
    display: flex;
    justify-content: space-around;
}

.tech img {
    width: 50px;
    height: 50px;
    margin-top: 30px;
}

.inner {
    background-color: white;
    width: 500px;
    height: 400px;
    cursor: pointer;
    z-index: 10;
    position: fixed;
    border: 2px solid black;
    box-shadow: 5px 5px white;
    -webkit-animation: popup 0.3s;
    animation: popup 0.3s;
    
    
}

.hidden {
    -webkit-animation: zoomOut 0.3s;
    animation: zoomOut 0.3s;
}


@keyframes popup {
    0%{
      transform: scale(0.5);
    }
    100%{
        transform: scale(1);
      }
  }

  @keyframes zoomOut {
    0%{
      transform: scale(1);
    }
    100%{
        transform: scale(0);
      }
  }

@keyframes fading {
    0% {   transform: scale(1); }
    100% {  transform: scale(0); }
}



@media screen and (max-width:498px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inner{
        width: 250px;
        width: 250px;
    }
    .about-main img{
        width: 100px;
        height: 100px;
    }
    .about-main h1{
        font-size: 20px;
    }
    .about-main p{
        margin-top: 7px;
        font-size: 15px;
    }
    .contact-main .social{
        padding-left: 10px;
        padding-right: 10px;
    
    }

    
  .slide-img{
    width: 200px;
    height: 100px;
  }

  .slide-description{
    margin-top: 0px;
  }

  .slide-description h4{
    display: none;
  }

  .slide-description p{
    font-size: 15px;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;

  }

  .slide-description a{
    padding: 3px;
    border-radius: 3px;

  }

  .slide-description span{
    display: none;
  }

  .slide-description h2{
    font-size: 20px;
  }
  

}





.slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  
  .slides-container {
    height: 350px;
    text-align: center;
    width: 100%;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
  }
  
  .slide-arrow:hover,
  .slide-arrow:focus {
    opacity: 1;
  }
  
  #slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
  }
  
  #slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
  }
  
  .slide-img{
    width: 250px;
    height: 150px;
  }

  .slide-description{
    margin-top: 10px;
  }

  .slide-description h2{
    margin-bottom: 10px;
  }


  .slide-description h4{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .slide-description p{
    font-weight: normal;
  }

  .slide-description a{
    text-decoration: none;
    border: 1px solid black;
    background-color: #DDDDDD;
    color: black;
    padding: 7px;
    border-radius: 5px;
    transition: 0.5s;
  }
  
  .slide-description a:hover{
    box-shadow: 2px 2px black;  
    background-color: #DDDDDD;
  }
  
  
  
/* Spinner */




.spinner-wrapper{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.spinner::before,
.spinner:after{
    content: "";
    position: absolute;
    border-radius: 50%;
}

.spinner:before {
    width: 100%;
    height: 100%;
    background-image:linear-gradient(90deg, #ff00cc 0%,#333399 100% );
    animation: spin .5s infinite linear;
}
.spinner:after {
    width: 90%;
    height: 90%;
    background-color: rgb(3, 3, 3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }

}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid gray;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

  #bg{
    transition: 0.5s;
  }
  
  #bg:hover{
    transform: scale(1.2);
  }

.message {
    width: 100%;
    height: 150px;
}